.MainPage main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.MainPage h1 {
    font-size: 36px;
    text-align: center;
    color: black;
    position: absolute;
    top: 15%;
    left: 48%;
    padding-right: 10px;
    font-weight: 600;
}

.MainPage h2 {
    position: absolute;
    font-size: 26px;
    font-weight: 600;
    top: 57%;
    color: #c0c0c0;

}

